/* * * * * * * * * * * MAIN LAYOUT * * * * * * * * * * */


body {
    margin: 0;
}


.container {
    display: flex;
    position: relative;
    height: 80vh;
    width: 95vw;
    inset: 10vh 2.5vw;
    justify-content: space-evenly;
    border: 1px solid #000;
}


.map-section {
    width: 60%;
    border: 1px solid #000;
}


.control-section {
    width: 30%;
    border: 1px solid #000;
}


/* * * * * * * * * * * MAP DISPLAY * * * * * * * * * * */


.map {
    display: grid;
    position: relative;
}


.cell {

}


/* * * * * * * * * * * CUSTOM DROPDOWN MENU * * * * * * * * * * */


.dropdown {
    display: inline-block;
    border-radius: 1rem;
    border: 1px #000 solid;
    box-shadow: 0 0 2rem #AAF;
}


.dropdown-item {
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}


.dropdown-item:hover {
    background-color: #00F2;
    /* box-shadow: 0 0 1rem #BBF inset; */
}


.divider {
    margin: 0;
    border: 1px #000 solid;
}