/* * * * * * * * * * * MAIN LAYOUT * * * * * * * * * * */


body {
    margin: 0;
}


.container {
    display: flex;
    position: relative;
    height: 80vh;
    width: 95vw;
    inset: 10vh 2.5vw;
    justify-content: space-evenly;
    border: 1px solid #000;
}


.map-section {
    width: 60%;
    border: 1px solid #000;
}


.control-section {
    width: 30%;
    border: 1px solid #000;
    text-align: center;
}


/* * * * * * * * * * * MAP DISPLAY * * * * * * * * * * */


.map {
    display: grid;
    position: relative;
}


.cell {

}


/* * * * * * * * * * * CONTROL PANEL * * * * * * * * * * */


.shelf {
    display: flex;
    justify-content: space-evenly;
    /* background-color: #0F02; */
}


button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #FFF;
    box-shadow: 0 0 1rem #00F;
}


button:hover {
    background-color: #00F2;
}


/* * * * * * * * * * * CUSTOM DROPDOWN MENU * * * * * * * * * * */


.dropdown-wrapper {
    position: relative;
    height: 3rem;
    width: 120px;
}


.dropdown {
    display: inline-block;
    position: absolute;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: 0 0 1rem #00F;
}


.dropdown-item {
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}


.dropdown-item:hover {
    background-color: #00F2;
}


.divider {
    margin: 0;
    border: 1px #000 solid;
}